In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
# Merge two data frames

movies= movies.merge(credits, on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [8]:
# First of all we are made content base recommender system 

# important : genres, movies_id, keywords, title,overview, cast, crew

movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [9]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.dropna(inplace=True) # drop missing data

In [13]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
# check duplicate data is available or not if available delete them

movies.duplicated().sum()

0

In [15]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

change the form like below..   : use (ast.literal_eval function)

['Action', 'Adventure', 'Fantacy', 'Science Fiction']

In [16]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [17]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [18]:
movies['genres'] = movies['genres'].apply(convert)

In [19]:
movies['keywords'] = movies['keywords'].apply(convert)

In [20]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [21]:
def convert3(obj):
    L=[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [22]:
movies['cast'] = movies['cast'].apply(convert3)

In [23]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

in crew we can print only director name job name: director

In [24]:
def fetch_director(obj):
    L=[]
    
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [25]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [26]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

overview column is string
so, convert them on list

In [27]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [28]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

we can remove space between one weod like 

['Sam Worthington'] = ['SamWorthington']

because computer are confuse about words 

system understand one word after space system assume this is the anothe word 

so it is dificult and over recommneder system recommend another because of these 

so,  first of all we remove space between word

In [29]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [31]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['cast'] + movies['crew']

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [33]:
new_df = movies[['movie_id', 'title', 'tags']]

In [34]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

we can join every list to space

In [35]:
new_df['tags'] =  new_df['tags'].apply(lambda x:" ". join(x))

C:\Users\Gandhi\AppData\Local\Temp\ipykernel_11396\4041081388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] =  new_df['tags'].apply(lambda x:" ". join(x))

In [36]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [37]:
new_df['tags'] =  new_df['tags'].apply(lambda x:x.lower()) # for lower case

C:\Users\Gandhi\AppData\Local\Temp\ipykernel_11396\2874105843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] =  new_df['tags'].apply(lambda x:x.lower()) # for lower case

In [38]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

let's know how movie recommend 

movie recommend by tags 

so convert tags into vectors first of all

so in tags to vector we used "bags of words" method

what we will do in this method so all words combine first and 

and in this words what word is most common to use 

like director name: salman khan or action movies...... etc....

so check movie 1: howmany word are most common to use

same movie 2 and other ....

we do not pick or use stop word like: are, is i, our.....from

max_feature=howmany words you to common (kitne words lene hai)

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')  # create object ,

In [40]:
cv.fit_transform(new_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
vectors = cv.fit_transform(new_df['tags']).toarray()

# we have 4806 movies are available and we transformation into 5000 words

In [42]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [43]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

apply stemming because of below: same word

['loved' , 'love' , 'loving']
            
            TO
            
['love' , 'love' , 'love']

In [44]:
import nltk

from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [45]:
def stem(text):   # helper function jema text madse apane
    y = []             # create list 
    
    for i in text.split():    # convert string into list
        y.append(ps.stem(i))     # har ek word ne stem karta jaisu and ene y ma store kari daisu
        
    string = " ".join(y)         #  convert list into string lastly
    
    return

In [46]:
 new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\Gandhi\AppData\Local\Temp\ipykernel_11396\1508482460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

every movie is a vector

har ek movie nu hae ek dusri movie sathe calculate the distance (calculate cosine distance = angle distance)

distance more = similarity of movie less

distance less = similarity of movies more

In [48]:
from sklearn.metrics.pairwise import cosine_similarity

In [53]:
cosine_similarity(vectors)

array([[1.        , 0.15389675, 0.0860663 , ..., 0.        , 0.        ,
        0.        ],
       [0.15389675, 1.        , 0.08830216, ..., 0.03673592, 0.        ,
        0.        ],
       [0.0860663 , 0.08830216, 1.        , ..., 0.03081668, 0.        ,
        0.        ],
       ...,
       [0.        , 0.03673592, 0.03081668, ..., 1.        , 0.07897472,
        0.02746175],
       [0.        , 0.        , 0.        , ..., 0.07897472, 1.        ,
        0.05638839],
       [0.        , 0.        , 0.        , ..., 0.02746175, 0.05638839,
        1.        ]])

In [54]:
cosine_similarity(vectors).shape

(4806, 4806)

In [55]:
similarity = cosine_similarity(vectors)

In [58]:
similarity[0] # first movie is score similar to first movie is always 1 
                # similar score to second mocie is 0.15389675
                 # similar score to third mocie is 0.0860663

array([1.        , 0.15389675, 0.0860663 , ..., 0.        , 0.        ,
       0.        ])

first movie nu first movie sathe distance always 1
samely like last movie nu last movie sathe distance 1 j hot 

har ek movie nu pota sathe distance 1 j hoy

first koi movie di jaye 

to firstly find their movie's index

particular index movie ne badhi movie sathe sort karisu 
means: jyada similar movie pehle aajayegi or kam similar movie piche chali jayegi..

and top 5 fetch movie is similar karke didkha denge


STEPS ::::

index fetching : new_df[new_df['title'] == 'Avatar'].index[0]  -> this movie is first so index is 0

distances = similarity[movie_index]  :
 # distances e similar movie nu index che etle ej movie nu index 1 thay 
 
 hve ej distance ne sort karvanu che jethi peli 5 similar movie madi jay
 
sorted(similarity[0],reverse=True)  :  direct sort karisu to index position loose thai jase to index sathej to compare karine similarity nikadse to e biji rite sorting karvi padse

so evi rite sorting karvu padse ke movie nu index position pakdine rakhay 
because first index nu first movie sathe similarity 1 thay etle......

to ena mate "(eumerate)" function use karvu

enumerate ne list ma karsu to index and movie tuple banine aavse 

and sorting karisu to index na basis par sort thse to problem thase 

etle key=lambda x:x[1] : anathi em kahi sakay ke soring index sivay eni baju ma je che ena asis par thay che 

[1:6] etle peli 5

In [65]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1] ) [1:6]

[(0, 1.0000000000000002),
 (151, 0.26967994498529685),
 (4405, 0.25819888974716115),
 (942, 0.24913643956121986),
 (1444, 0.2480694691784169),
 (1194, 0.2439750182371333),
 (3608, 0.24152294576982397),
 (495, 0.22360679774997896),
 (4348, 0.22360679774997894),
 (7, 0.22056438662814232),
 (972, 0.21926450482675733),
 (31, 0.21693045781865616),
 (94, 0.21693045781865616),
 (4010, 0.21693045781865616),
 (2999, 0.21213203435596426),
 (3730, 0.21213203435596426),
 (973, 0.2076136996343499),
 (1216, 0.20732210721568234),
 (61, 0.2051956704170308),
 (68, 0.2051956704170308),
 (322, 0.2051956704170308),
 (1344, 0.20412414523193148),
 (4048, 0.20377787840885372),
 (208, 0.20225995873897262),
 (199, 0.20080483222562473),
 (466, 0.19999999999999998),
 (36, 0.1976423537605237),
 (232, 0.19518001458970663),
 (483, 0.19518001458970663),
 (1616, 0.19518001458970663),
 (83, 0.19364916731037088),
 (1658, 0.19069251784911845),
 (1396, 0.1889822365046136),
 (1808, 0.1889822365046136),
 (2409, 0.1889822365046136),
 (72, 0.18650096164806276),
 (539, 0.18650096164806276),
 (2971, 0.18428853505018536),
 (26, 0.18257418583505539),
 (46, 0.18257418583505539),
 (150, 0.18257418583505539),
 (568, 0.18257418583505539),
 (581, 0.18257418583505539),
 (931, 0.18257418583505539),
 (420, 0.1813690625275029),
 (35, 0.17928429140015906),
 (1201, 0.17928429140015906),
 (2075, 0.17888543819998318),
 (3340, 0.17888543819998318),
 (3999, 0.17888543819998318),
 (149, 0.17677669529663687),
 (507, 0.17677669529663687),
 (2333, 0.17677669529663687),
 (174, 0.17541160386140586),
 (28, 0.1732050807568877),
 (490, 0.1732050807568877),
 (14, 0.17213259316477408),
 (2169, 0.17213259316477408),
 (3498, 0.17213259316477408),
 (3622, 0.17213259316477408),
 (529, 0.16854996561581054),
 (127, 0.16770509831248423),
 (134, 0.16770509831248423),
 (487, 0.16770509831248423),
 (627, 0.16770509831248423),
 (1329, 0.16770509831248423),
 (1488, 0.16770509831248423),
 (2786, 0.16770509831248423),
 (4192, 0.16770509831248423),
 (91, 0.16609095970747992),
 (813, 0.16609095970747992),
 (1037, 0.16609095970747992),
 (1204, 0.16609095970747992),
 (1297, 0.16609095970747992),
 (1277, 0.16484511834894675),
 (10, 0.1632993161855452),
 (1920, 0.1632993161855452),
 (2072, 0.1632993161855452),
 (12, 0.16269784336399212),
 (98, 0.16269784336399212),
 (330, 0.16269784336399212),
 (505, 0.16269784336399212),
 (2584, 0.16269784336399212),
 (2651, 0.16269784336399212),
 (3354, 0.16269784336399212),
 (3721, 0.16269784336399212),
 (4673, 0.16269784336399212),
 (27, 0.16137430609197573),
 (206, 0.16137430609197573),
 (311, 0.16064386578049977),
 (508, 0.16064386578049977),
 (859, 0.16064386578049977),
 (1195, 0.16064386578049977),
 (3443, 0.16064386578049977),
 (403, 0.15971914124998499),
 (3407, 0.15971914124998499),
 (33, 0.158113883008419),
 (56, 0.158113883008419),
 (122, 0.158113883008419),
 (233, 0.158113883008419),
 (1109, 0.158113883008419),
 (1524, 0.158113883008419),
 (2661, 0.158113883008419),
 (1299, 0.15811388300841894),
 (1945, 0.15811388300841894),
 (47, 0.15655607277128736),
 (74, 0.1556997888323046),
 (587, 0.1556997888323046),
 (1, 0.1538967528127731),
 (148, 0.1538967528127731),
 (260, 0.1538967528127731),
 (292, 0.1538967528127731),
 (794, 0.1538967528127731),
 (1408, 0.1538967528127731),
 (2496, 0.1538967528127731),
 (3055, 0.1538967528127731),
 (84, 0.1535737792084878),
 (5, 0.15339299776947407),
 (43, 0.15339299776947407),
 (139, 0.15339299776947407),
 (187, 0.15339299776947407),
 (988, 0.15339299776947407),
 (1537, 0.15339299776947407),
 (1831, 0.15339299776947407),
 (1965, 0.15214515486254615),
 (168, 0.15118578920369088),
 (618, 0.15118578920369088),
 (2686, 0.15118578920369088),
 (23, 0.15),
 (263, 0.15),
 (275, 0.15),
 (400, 0.15),
 (715, 0.15),
 (1942, 0.15),
 (2323, 0.15),
 (158, 0.14907119849998596),
 (870, 0.14907119849998596),
 (1233, 0.14907119849998596),
 (2133, 0.14907119849998596),
 (3154, 0.14907119849998596),
 (131, 0.14704292441876154),
 (138, 0.14638501094227996),
 (166, 0.14638501094227996),
 (511, 0.14638501094227996),
 (922, 0.14638501094227996),
 (1077, 0.14638501094227996),
 (1082, 0.14638501094227996),
 (1301, 0.14638501094227996),
 (1833, 0.14638501094227996),
 (3355, 0.14638501094227996),
 (312, 0.14509525002200233),
 (2596, 0.14509525002200233),
 (3162, 0.14509525002200233),
 (461, 0.14301938838683884),
 (634, 0.14301938838683884),
 (1047, 0.14301938838683884),
 (1071, 0.14301938838683884),
 (1158, 0.14301938838683884),
 (1589, 0.14301938838683884),
 (1756, 0.14301938838683884),
 (2683, 0.14301938838683884),
 (2817, 0.14301938838683884),
 (4083, 0.14301938838683884),
 (200, 0.1414213562373095),
 (228, 0.1414213562373095),
 (123, 0.13987572123604708),
 (577, 0.13987572123604708),
 (784, 0.13987572123604708),
 (920, 0.13987572123604708),
 (1274, 0.13987572123604708),
 (1280, 0.13987572123604708),
 (4045, 0.13987572123604708),
 (654, 0.13968605915391563),
 (17, 0.13801311186847084),
 (1938, 0.13801311186847084),
 (207, 0.13693063937629155),
 (242, 0.13693063937629155),
 (329, 0.13693063937629155),
 (980, 0.13693063937629155),
 (2378, 0.13693063937629155),
 (2868, 0.13693063937629155),
 (2106, 0.1363988678940947),
 (2448, 0.1363988678940947),
 (256, 0.13483997249264842),
 (412, 0.13483997249264842),
 (838, 0.13483997249264842),
 (1276, 0.13483997249264842),
 (3572, 0.13483997249264842),
 (349, 0.1341640786499874),
 (854, 0.1341640786499874),
 (899, 0.1341640786499874),
 (1096, 0.1341640786499874),
 (1113, 0.1341640786499874),
 (1142, 0.1341640786499874),
 (1275, 0.1341640786499874),
 (2204, 0.1341640786499874),
 (2396, 0.1341640786499874),
 (2620, 0.1341640786499874),
 (596, 0.13333333333333333),
 (107, 0.1318760946791574),
 (87, 0.1315587028960544),
 (101, 0.1315587028960544),
 (203, 0.1315587028960544),
 (1306, 0.1315587028960544),
 (1383, 0.1315587028960544),
 (62, 0.12909944487358058),
 (109, 0.12909944487358058),
 (422, 0.12909944487358058),
 (691, 0.12909944487358058),
 (1321, 0.12909944487358058),
 (1410, 0.12909944487358058),
 (1664, 0.12909944487358058),
 (1673, 0.12909944487358058),
 (2388, 0.12909944487358058),
 (2634, 0.12909944487358058),
 (4502, 0.12909944487358058),
 (4641, 0.12909944487358058),
 (39, 0.12909944487358055),
 (52, 0.12909944487358055),
 (96, 0.12909944487358055),
 (111, 0.12909944487358055),
 (1004, 0.12909944487358055),
 (1086, 0.12909944487358055),
 (2450, 0.12909944487358055),
 (1639, 0.12777531299998798),
 (270, 0.1267731382092775),
 (300, 0.1267731382092775),
 (315, 0.1267731382092775),
 (332, 0.1267731382092775),
 (369, 0.1267731382092775),
 (582, 0.1267731382092775),
 (894, 0.1267731382092775),
 (960, 0.1267731382092775),
 (1015, 0.1267731382092775),
 (1019, 0.12649110640673517),
 (45, 0.12524485821702988),
 (467, 0.12524485821702988),
 (50, 0.12456821978060995),
 (121, 0.12456821978060995),
 (1269, 0.12456821978060995),
 (2372, 0.12456821978060995),
 (3008, 0.12456821978060995),
 (381, 0.12403473458920845),
 (570, 0.12403473458920845),
 (1139, 0.12403473458920845),
 (1621, 0.12403473458920845),
 (2250, 0.12403473458920845),
 (2274, 0.12403473458920845),
 (2856, 0.12403473458920845),
 (3155, 0.12403473458920845),
 (1534, 0.12285902336679025),
 (16, 0.1224744871391589),
 (241, 0.1224744871391589),
 (1178, 0.1224744871391589),
 (2163, 0.1224744871391589),
 (2831, 0.1224744871391589),
 (3428, 0.1224744871391589),
 (238, 0.12171612389003691),
 (1282, 0.12171612389003691),
 (102, 0.12060453783110545),
 (4, 0.12048289933537483),
 (67, 0.12048289933537483),
 (76, 0.12048289933537483),
 (215, 0.12048289933537483),
 (1161, 0.12048289933537483),
 (1401, 0.12048289933537483),
 (1982, 0.12048289933537483),
 (4055, 0.12048289933537483),
 (4657, 0.12048289933537483),
 (172, 0.11952286093343936),
 (230, 0.11952286093343936),
 (624, 0.11952286093343936),
 (808, 0.11952286093343936),
 (850, 0.11952286093343936),
 (1156, 0.11952286093343936),
 (2381, 0.11952286093343936),
 (2645, 0.11952286093343936),
 (3374, 0.11952286093343936),
 (3781, 0.11952286093343936),
 (4018, 0.11952286093343936),
 (4403, 0.11952286093343936),
 (4737, 0.11952286093343936),
 (126, 0.11858541225631421),
 (164, 0.11858541225631421),
 (182, 0.11858541225631421),
 (262, 0.11858541225631421),
 (271, 0.11858541225631421),
 (513, 0.11858541225631421),
 (746, 0.11858541225631421),
 (1030, 0.11858541225631421),
 (1623, 0.11858541225631421),
 (2916, 0.11858541225631421),
 (939, 0.11744404390294068),
 (2013, 0.11677484162422845),
 (212, 0.11677484162422844),
 (243, 0.11677484162422844),
 (786, 0.11677484162422844),
 (1617, 0.11677484162422844),
 (1632, 0.11677484162422844),
 (105, 0.11547005383792514),
 (249, 0.11547005383792514),
 (373, 0.11547005383792514),
 (1323, 0.11547005383792514),
 (1721, 0.11547005383792514),
 (1727, 0.11547005383792514),
 (2136, 0.11547005383792514),
 (2480, 0.11547005383792514),
 (2515, 0.11547005383792514),
 (3832, 0.11547005383792514),
 (4198, 0.11547005383792514),
 (4727, 0.11547005383792514),
 (278, 0.11504474832710555),
 (334, 0.11504474832710555),
 (413, 0.11504474832710555),
 (472, 0.11504474832710555),
 (473, 0.11504474832710555),
 (987, 0.11504474832710555),
 (1220, 0.11504474832710555),
 (2820, 0.11504474832710555),
 (3091, 0.11504474832710555),
 (3309, 0.11504474832710555),
 (1898, 0.11451966686277364),
 (11, 0.11338934190276817),
 (79, 0.11338934190276817),
 (108, 0.11338934190276817),
 (728, 0.11338934190276817),
 (740, 0.11338934190276817),
 (3310, 0.11338934190276817),
 (3620, 0.11338934190276817),
 (159, 0.11180339887498948),
 (216, 0.11180339887498948),
 (547, 0.11180339887498948),
 (695, 0.11180339887498948),
 (823, 0.11180339887498948),
 (1092, 0.11180339887498948),
 (1373, 0.11180339887498948),
 (1741, 0.11180339887498948),
 (2161, 0.11180339887498948),
 (2259, 0.11180339887498948),
 (2326, 0.11180339887498948),
 (3072, 0.11180339887498948),
 (3253, 0.11180339887498948),
 (3527, 0.11180339887498948),
 (3621, 0.11180339887498948),
 (4061, 0.11180339887498948),
 (4099, 0.11180339887498948),
 (9, 0.11180339887498947),
 (70, 0.11180339887498947),
 (213, 0.11180339887498947),
 (279, 0.11180339887498947),
 (305, 0.11180339887498947),
 (1996, 0.11180339887498947),
 (2583, 0.11180339887498947),
 (3102, 0.11180339887498947),
 (3907, 0.11180339887498947),
 (19, 0.11028219331407116),
 (30, 0.11028219331407116),
 (184, 0.11028219331407116),
 (535, 0.11028219331407116),
 (933, 0.11028219331407116),
 (1175, 0.11028219331407116),
 (1273, 0.11028219331407116),
 (342, 0.10927167294163061),
 (71, 0.10882143751650175),
 (169, 0.10882143751650175),
 (979, 0.10882143751650175),
 (1056, 0.10882143751650175),
 (1202, 0.10882143751650175),
 (22, 0.10846522890932808),
 (267, 0.10846522890932808),
 (537, 0.10846522890932808),
 (594, 0.10846522890932808),
 (781, 0.10846522890932808),
 (935, 0.10846522890932808),
 (1073, 0.10846522890932808),
 (1076, 0.10846522890932808),
 (1242, 0.10846522890932808),
 (1334, 0.10846522890932808),
 (1363, 0.10846522890932808),
 (1501, 0.10846522890932808),
 (2270, 0.10846522890932808),
 (2882, 0.10846522890932808),
 (2970, 0.10846522890932808),
 (3356, 0.10846522890932808),
 (4568, 0.10846522890932808),
 (1367, 0.10741723110591493),
 (97, 0.10741723110591492),
 (234, 0.10741723110591492),
 (732, 0.10741723110591492),
 (1191, 0.10741723110591492),
 (1278, 0.10741723110591492),
 (2052, 0.10741723110591492),
 (2264, 0.10741723110591492),
 (410, 0.10606601717798213),
 (419, 0.10606601717798213),
 (1305, 0.10606601717798213),
 (1496, 0.10606601717798213),
 (1659, 0.10606601717798213),
 (3225, 0.10606601717798213),
 (3390, 0.10606601717798213),
 (117, 0.10540925533894599),
 (157, 0.10540925533894599),
 (205, 0.10540925533894599),
 (744, 0.10540925533894599),
 (800, 0.10540925533894599),
 (1005, 0.10540925533894599),
 (1098, 0.10540925533894599),
 (1147, 0.10540925533894599),
 (1288, 0.10540925533894599),
 (1292, 0.10540925533894599),
 (1474, 0.10540925533894599),
 (1575, 0.10540925533894599),
 (2731, 0.10540925533894599),
 (3994, 0.10540925533894599),
 (4135, 0.10540925533894599),
 (4165, 0.10540925533894599),
 (4331, 0.10540925533894599),
 (4566, 0.10540925533894599),
 (4623, 0.10540925533894599),
 (41, 0.10476454436543672),
 (103, 0.10476454436543672),
 (170, 0.10476454436543672),
 (371, 0.10476454436543672),
 (782, 0.10476454436543672),
 (129, 0.10350983390135313),
 (475, 0.10350983390135313),
 (543, 0.10350983390135313),
 (595, 0.10350983390135313),
 (4123, 0.10350983390135313),
 (88, 0.1025978352085154),
 (144, 0.1025978352085154),
 (165, 0.1025978352085154),
 (259, 0.1025978352085154),
 (276, 0.1025978352085154),
 (336, 0.1025978352085154),
 (498, 0.1025978352085154),
 (626, 0.1025978352085154),
 (1365, 0.1025978352085154),
 (1686, 0.1025978352085154),
 (2091, 0.1025978352085154),
 (2354, 0.1025978352085154),
 (2762, 0.1025978352085154),
 (3628, 0.1025978352085154),
 (4316, 0.1025978352085154),
 (4357, 0.1025978352085154),
 (1418, 0.10229915092057101),
 (2650, 0.10229915092057101),
 (2005, 0.10112997936948631),
 (2713, 0.10112997936948631),
 (4181, 0.10112997936948631),
 (152, 0.09999999999999999),
 (196, 0.09999999999999999),
 (245, 0.09999999999999999),
 (266, 0.09999999999999999),
 (309, 0.09999999999999999),
 (319, 0.09999999999999999),
 (476, 0.09999999999999999),
 (604, 0.09999999999999999),
 (672, 0.09999999999999999),
 (773, 0.09999999999999999),
 (951, 0.09999999999999999),
 (1080, 0.09999999999999999),
 (1137, 0.09999999999999999),
 (1347, 0.09999999999999999),
 (1703, 0.09999999999999999),
 (1713, 0.09999999999999999),
 (1770, 0.09999999999999999),
 (2175, 0.09999999999999999),
 (2395, 0.09999999999999999),
 (2579, 0.09999999999999999),
 (2680, 0.09999999999999999),
 (2741, 0.09999999999999999),
 (3133, 0.09999999999999999),
 (836, 0.09890707100936805),
 (1322, 0.09890707100936805),
 (29, 0.09784921095801634),
 (143, 0.09784921095801634),
 (768, 0.09784921095801634),
 (1497, 0.09784921095801634),
 (1924, 0.09784921095801634),
 (3000, 0.09784921095801634),
 (104, 0.09759000729485331),
 (237, 0.09759000729485331),
 (358, 0.09759000729485331),
 (617, 0.09759000729485331),
 (660, 0.09759000729485331),
 (668, 0.09759000729485331),
 (1259, 0.09759000729485331),
 (1262, 0.09759000729485331),
 (1327, 0.09759000729485331),
 (1362, 0.09759000729485331),
 (1719, 0.09759000729485331),
 (1860, 0.09759000729485331),
 (2090, 0.09759000729485331),
 (2148, 0.09759000729485331),
 (2521, 0.09759000729485331),
 (3663, 0.09759000729485331),
 (3954, 0.09759000729485331),
 (4196, 0.09759000729485331),
 (4203, 0.09759000729485331),
 (183, 0.09682458365518543),
 (277, 0.09682458365518543),
 (777, 0.09682458365518543),
 (2135, 0.09682458365518543),
 (2439, 0.09682458365518543),
 (1692, 0.09583148474999098),
 (82, 0.09534625892455922),
 (90, 0.09534625892455922),
 (95, 0.09534625892455922),
 (227, 0.09534625892455922),
 (236, 0.09534625892455922),
 (290, 0.09534625892455922),
 (356, 0.09534625892455922),
 (368, 0.09534625892455922),
 (449, 0.09534625892455922),
 (1085, 0.09534625892455922),
 (1241, 0.09534625892455922),
 (1289, 0.09534625892455922),
 (1471, 0.09534625892455922),
 (1513, 0.09534625892455922),
 (1631, 0.09534625892455922),
 (1884, 0.09534625892455922),
 (2589, 0.09534625892455922),
 (3347, 0.09534625892455922),
 (3839, 0.09534625892455922),
 (4290, 0.09534625892455922),
 (4355, 0.09534625892455922),
 (4468, 0.09534625892455922),
 (1371, 0.09486832980505137),
 (1878, 0.09486832980505137),
 (2256, 0.0939336436627724),
 (2498, 0.0939336436627724),
 (2968, 0.0939336436627724),
 (307, 0.09376144618769908),
 (78, 0.09325048082403138),
 (142, 0.09325048082403138),
 (711, 0.09325048082403138),
 (840, 0.09325048082403138),
 (1364, 0.09325048082403138),
 (1434, 0.09325048082403138),
 (1688, 0.09325048082403138),
 (1790, 0.09325048082403138),
 (1993, 0.09325048082403138),
 (2053, 0.09325048082403138),
 (2120, 0.09325048082403138),
 (2243, 0.09325048082403138),
 (2562, 0.09325048082403138),
 (3152, 0.09325048082403138),
 (3166, 0.09325048082403138),
 (4256, 0.09325048082403138),
 (572, 0.09302605094190634),
 (661, 0.09302605094190634),
 (755, 0.09302605094190634),
 (1678, 0.09302605094190634),
 (2549, 0.09302605094190634),
 (75, 0.09128709291752769),
 (198, 0.09128709291752769),
 (219, 0.09128709291752769),
 (325, 0.09128709291752769),
 (339, 0.09128709291752769),
 (341, 0.09128709291752769),
 (362, 0.09128709291752769),
 (370, 0.09128709291752769),
 (389, 0.09128709291752769),
 (544, 0.09128709291752769),
 (597, 0.09128709291752769),
 (778, 0.09128709291752769),
 (1009, 0.09128709291752769),
 (1027, 0.09128709291752769),
 (1032, 0.09128709291752769),
 (1079, 0.09128709291752769),
 (1134, 0.09128709291752769),
 (1196, 0.09128709291752769),
 (1469, 0.09128709291752769),
 (1796, 0.09128709291752769),
 (2622, 0.09128709291752769),
 (2824, 0.09128709291752769),
 (2865, 0.09128709291752769),
 (3376, 0.09128709291752769),
 (3611, 0.09128709291752769),
 (4490, 0.09128709291752769),
 (4519, 0.09128709291752769),
 (153, 0.09128709291752768),
 (301, 0.09128709291752768),
 (607, 0.09128709291752768),
 (1574, 0.09128709291752768),
 (51, 0.09045340337332908),
 (222, 0.09045340337332908),
 (2598, 0.09045340337332908),
 (2760, 0.09045340337332908),
 (1828, 0.08964214570007953),
 (8, 0.08944271909999159),
 (112, 0.08944271909999159),
 (167, 0.08944271909999159),
 (195, 0.08944271909999159),
 (220, 0.08944271909999159),
 (644, 0.08944271909999159),
 (937, 0.08944271909999159),
 (1592, 0.08944271909999159),
 (1649, 0.08944271909999159),
 (2022, 0.08944271909999159),
 (2268, 0.08944271909999159),
 (3538, 0.08944271909999159),
 (3635, 0.08944271909999159),
 (3805, 0.08944271909999159),
 (3890, 0.08944271909999159),
 (3368, 0.08899883189799696),
 (193, 0.08808303292720551),
 (37, 0.08770580193070293),
 (235, 0.08770580193070293),
 (282, 0.08770580193070293),
 (306, 0.08770580193070293),
 (510, 0.08770580193070293),
 (754, 0.08770580193070293),
 (805, 0.08770580193070293),
 (956, 0.08770580193070293),
 (1031, 0.08770580193070293),
 (1548, 0.08770580193070293),
 (1810, 0.08770580193070293),
 (2235, 0.08770580193070293),
 (2556, 0.08770580193070293),
 (3093, 0.08770580193070293),
 (3109, 0.08770580193070293),
 (3255, 0.08770580193070293),
 (3452, 0.08770580193070293),
 (4602, 0.08770580193070293),
 (4799, 0.08770580193070293),
 (55, 0.08660254037844385),
 (2, 0.08606629658238704),
 (24, 0.08606629658238704),
 (115, 0.08606629658238704),
 (240, 0.08606629658238704),
 (257, 0.08606629658238704),
 (335, 0.08606629658238704),
 (664, 0.08606629658238704),
 (745, 0.08606629658238704),
 (1088, 0.08606629658238704),
 (1141, 0.08606629658238704),
 (1746, 0.08606629658238704),
 (1759, 0.08606629658238704),
 (2300, 0.08606629658238704),
 (2652, 0.08606629658238704),
 (3039, 0.08606629658238704),
 (3301, 0.08606629658238704),
 (3357, 0.08606629658238704),
 (3992, 0.08606629658238704),
 (4148, 0.08606629658238704),
 (4320, 0.08606629658238704),
 (38, 0.08588975014708022),
 (4305, 0.08588975014708022),
 (160, 0.08519427513705971),
 (3862, 0.08519427513705971),
 (21, 0.08451542547285165),
 (40, 0.08451542547285165),
 (185, 0.08451542547285165),
 (291, 0.08451542547285165),
 (302, 0.08451542547285165),
 (485, 0.08451542547285165),
 (503, 0.08451542547285165),
 (1293, 0.08451542547285165),
 (1440, 0.08451542547285165),
 (1530, 0.08451542547285165),
 (1701, 0.08451542547285165),
 (1747, 0.08451542547285165),
 (1832, 0.08451542547285165),
 (2167, 0.08451542547285165),
 (2224, 0.08451542547285165),
 (2253, 0.08451542547285165),
 (3634, 0.08451542547285165),
 (3926, 0.08451542547285165),
 (3935, 0.08451542547285165),
 (59, 0.08451542547285164),
 (426, 0.08451542547285164),
 (3617, 0.08385254915624211),
 (116, 0.08304547985373996),
 (254, 0.08304547985373996),
 (294, 0.08304547985373996),
 (365, 0.08304547985373996),
 (454, 0.08304547985373996),
 (645, 0.08304547985373996),
 (687, 0.08304547985373996),
 (741, 0.08304547985373996),
 (834, 0.08304547985373996),
 (901, 0.08304547985373996),
 (932, 0.08304547985373996),
 (1011, 0.08304547985373996),

we can do next is
 we can create a function wich i enter one movie and function return similar 5 movies

In [79]:
recommend('Avatar') #it return index but index is not help so recommen movie name !!!!

new_df.iloc[1216].title

151
4405
942
1444
1194

'Aliens vs Predator: Requiem'

In [81]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0] 
    distances = similarity[movie_index]    
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1] ) [1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [85]:
recommend('Batman Begins')

Amidst the Devil's Wings
The Dark Knight Rises
The Dark Knight
Batman
Dead Man Down

In [86]:
import pickle

In [87]:
pickle.dump(new_df,open('movies.pkl','wb'))

our data frame is not work in visual studio so we can send dataframe to dictionary

dataframe ma pandas nu use kryo che etle vscode ma streamlit ma support nathi krtu mate dataframe ne dictionary ma convert karine use kari sakay

In [88]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [90]:
pickle.dump(similarity,open('similarity.pkl','wb'))